<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-5 align-self-center">
                <img src="assets/logo.jpg" width="100%">
            </div>
            <div class="col-7 align-self-center">
                <div class="actions text-end">
                    <div class="notificaciones">
                        <div class="number"><span>22</span></div>
                        <i class="fas fa-bell"></i>
                    </div>
                    <div class="menu">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 text-center">
                <button class="btn rounded btn-white w-100">SOLICITUDES ACTIVAS</button>
            </div>
        </div>
    </div>
    
</div>
