<div class="contenido">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navegacion">
                    <div class="row">
                        <div class="col-10 align-self-center">
                            <h2>Solicitudes activas</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="resultados" *ngIf="equipos.activo === 'A'">
            <div class="row">
                <div class="col-12">
                    <div class="res">
                        <div class="row">
                            <div class="col-11">
                                <h3>{{equipos.nombreServicio}}</h3>
                                <p>{{equipos.marca}}</p>
                                <p>{{equipos.modelo}}</p>
                                <p>N° serie: {{equipos.serie}}</p>
                                <p *ngIf="equipos.codigo_interno!=''">Cod interno: {{equipos.codigo_interno}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
-->
