<div class="contenido">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navegacion">
                    <div class="row">
                        <div class="col-10 align-self-center">
                            <h2>Resultados de búsqueda</h2>
                        </div>
                        <div class="col-2 align-self-center">
                            <i class="fas fa-arrow-left" role="button" (click)="buscar()"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="resultados">
            <div class="row" *ngFor="let eq of equipos">
                <div class="col-12">
                    <div class="res">
                        <div class="row">
                            <div class="col-11">
                                <h3>{{eq.nombreServicio}}</h3>
                                <p>{{eq.marca}}</p>
                                <p>{{eq.modelo}}</p>
                                <p>N° serie: {{eq.serie}}</p>
                                <p *ngIf="eq.codigo_interno!=''">Cod interno: {{eq.codigo_interno}}</p>
                            </div>
                            <div class="col-1">
                                <i class="fas fa-plus" role="button" (click)="seleccionar(eq)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
